.container {
  display: block;
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.button {
  padding: 4px 8px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button:hover,
.button:focus {
  transform: scale(1.06);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.ioIosPhonePortrait {
  display: block;
  margin-left: 6px;
  width: 14px;
  height: 14px;
  color: var(--primary-color);
}

.spanName {
  font-size: 12px;
  margin-left: 6px;
  color: var(--primary-color);
}

.input {
  min-width: 200px;
  outline-color: var(--primary-color);
}
