.container {
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.fiSearch {
  display: inline-block;
  margin-left: 6px;
  width: 14px;
  height: 14px;
  color: var(--primary-color);
}

.input {
  min-width: 200px;
  outline-color: var(--primary-color);
}
