.container {
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.input {
  min-width: 200px;
  outline-color: var(--primary-color);
}

.find {
  display: flex;
  margin-left: 6px;
  font-size: 20px;
  color: var(--primary-color);
}
