.container {
  display: flex;
  margin-right: auto;
  /* margin-right: 10px; */
}

.link {
  display: inline-flex;
  text-decoration: none;
  margin-right: 16px;
  color: var(--primary-color);
}

.activeLink {
  color: var(--orange-color);
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: var(--orange-color);
}
