.container {
  display: flex;
  margin-right: auto;
  /* margin-right: 10px; */
}

.link {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  margin-right: 16px;
  color: var(--primary-color);
  outline: none;
}

.link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--orange-color);
  border-radius: 2px;

  /* transform: scaleX(0); */
  transition: width 300ms var(--cubic);
}

.activeLink {
  color: var(--orange-color);
}

.link:hover,
.link:focus {
  color: var(--orange-color);
}

.link:hover:after,
.link:focus:after {
  width: 100%;
  /* transform: scaleX(1); */
  transition: width 300ms var(--cubic);
}
