.container {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
}

.link {
  display: inline-flex;
  text-decoration: none;
  position: relative;
  margin-left: 16px;
  font-weight: 600;
  color: var(--primary-color);
  outline: none;
  /* overflow: hidden; */
}

.link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--orange-color);
  border-radius: 2px;

  transition: width 300ms var(--cubic);
}

.link:hover,
.link:focus {
  color: var(--orange-color);
}

.link:hover:after,
.link:focus:after {
  width: 100%;
  transition: width 300ms var(--cubic);
}

.activeLink {
  color: var(--orange-color);
}

.avatarRed {
  display: flex;
  font-size: 24px;
  color: #ff0000;
}
