.container {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
}

.link {
  display: inline-flex;
  text-decoration: none;
  margin-left: 16px;
  color: var(--primary-color);
}

.activeLink {
  color: var(--orange-color);
}

.avatar {
  display: flex;
  font-size: 20px;
  padding: 2px;
  border-radius: 50%;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: var(--orange-color);
}
