.container {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
}

.link {
  display: inline-flex;
  text-decoration: none;
  margin-left: 16px;
  color: var(--primary-color);
}

.activeLink {
  color: var(--activ-color);
}

.avatar {
  display: flex;
  font-size: 20px;
  padding: 2px;
  border: 1px solid var(--activ-color);
  border-radius: 50%;
  color: var(--activ-color);
}
