.contactList {
  padding-left: 0;
}

.title {
  color: var(--primary-color);
}

.list {
  margin-bottom: 6px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
}

.text {
  display: inline-flex;
  font-size: 16px;
  margin: 0;
  color: #303030;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  margin-left: auto;
  font-family: Unkempt;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.06);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic),
    background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.dotten {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;

  height: 1px;
  flex-basis: auto;
  flex-grow: 1;
  align-self: flex-end;

  background: rgba(130, 130, 230, 0.5);
}

.descr {
  display: none;
}

@media screen and (min-width: 768px) {
  .descr {
    display: block;
  }
}
