.contactList {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contactList {
    padding: 0px 10%;
  }
}

@media screen and (min-width: 768px) {
  .contactList {
    padding: 0px 20%;
  }
}

.title {
  color: var(--primary-color);
}

.list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: 2px 4px;
}

.text {
  display: inline-flex;
  font-size: 20px;
  margin: 0;
  color: #303030;
}

.button {
  display: flex;
  align-items: center;

  padding: 8px 16px;
  margin-left: 16px;
  font-family: Unkempt;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.06);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic),
    background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.dotten {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;

  height: 1px;
  flex-basis: auto;
  flex-grow: 1;
  align-self: end;

  background: rgba(130, 130, 230, 0.5);
}

.btnText {
  display: none;
}

@media screen and (min-width: 768px) {
  .btnText {
    display: block;
  }
}

.icon {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .icon {
    margin-left: 8px;
  }
}
