.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  display: block;
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.input {
  min-width: 200px;
  outline-color: var(--primary-color);
}

.input:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: unset;
}

.spanName {
  font-size: 12px;
  margin-left: 6px;
  color: var(--primary-color);
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.06);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  transition: transform 250ms var(--cubic), box-shadow 250ms var(--cubic),
    background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.sp {
  font-family: Unkempt;
}
